<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="page_apropos">

      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="page_bio">

      </div>
    </div>

  </div>
</div>
