<section id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/aquaphobie.JPG);">
 <div class="banner-text">
  <h2 class="description-header">Dépasser sa phobie de l'eau</h2>
 </div>
 <div class="dimmer"></div>
</section>


<div class="container">
  <div class="row">
    <div class="text-center">
      <h3 class="activite">Notre Mission </h3>
      <p class="mission">"La peur de l'eau est un phénomène; 1 français  " </p>
    </div>
  </div>
</div>
