<section id="banner" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/gosse_bulle.JPG);">
 <div class="banner-text">
  <h2 class="description-header">Apprendre à nager doit être un plaisir</h2>
 </div>
 <div class="dimmer"></div>
</section>
