<div class="container">
  <div class="row">

      Assalamou aleykoum le marcheur marocain mdr :-), <br> <br>
      Nouvelle réservation vient d'arriver pour : <br>la nage adulte:
      <br>
      de la part de <span><%=@reservationad.name  %></span><br>
      <h3>Le créneau de : <%= @reservationad.creneau %></h3>
      <h4>Numéro de téléphone : <%= @reservationad.phone %></h4> <br/>
      <h4>Prix total : <span><%= @reservationad.price %> euros</span></h4>
      <h4>La personne doit juste payer et tout sera ok pour cette réservation.</h4>
  </div>
</div>
