<div class="container">
  <div class="row">
    <p>
      Assalamou aleykoum le marcheur marocain, <br> <br>
      Nouvelle réservation vient d'arriver :
      de la part de ..., <br>
      
    </p>
  </div>
</div>
