<div class="container">
  <div class="row">

      Assalamou aleykoum le nageur marocain mdr :-), <br> <br>
      Nouvelle réservation vient d'arriver pour : <br>Jardin aquatique:
      <br>
      de la part de <span><%=@reservationjard.name  %></span><br>
      <h3>Le créneau de : <%= @reservationjard.creneau %></h3>
      <h4>Numéro de téléphone : <%= @reservationjard.phone %></h4> <br/>
      <h4>Prix total : <span><%= @reservationjard.price %> euros</span></h4>
      <h4>La personne doit juste payer et tout sera ok pour cette réservation.</h4>
  </div>
</div>
