<div class="container">
  <div class="row">

      Assalamou aleykoum le nageur marocain mdr :-), <br> <br>
      Nouvelle réservation vient d'arriver pour : <br>Bébes nageurs:
      <br>
      de la part de <span><%=@reservationpetit.name  %></span><br>
      <h3>Le créneau de : <%= @reservationpetit.creneau %></h3>
      <h4>Numéro de téléphone : <%= @reservationpetit.phone %></h4> <br/>
      <h4>Prix total : <span><%= @reservationpetit.price %> euros</span></h4>
      <h4>La personne doit juste payer et tout sera ok pour cette réservation.</h4>
  </div>
</div>
