<div class="container">
 <div class="row">
  <div class="text-center">
    <h3 class="title_show">Récapitulatif de votre réservation </h3>
  </div>
 </div>
  <div class="row">
   <div class="col-md-offset-4 col-md-4" id="zone_show_resa_title">
    <h3>Du <%= @reservation.start_at %> </h3> <br>
    <h4>Prix total : <span><%= @reservation.price %> euros</span></h4> <br>
    </div>
 </div>
</div>
