<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <div class="text-center">
      <h3 class="title_show">Voici la formule que vous avec choisi</h3>
      </div>
    </div>
    <div class="row">
    <div class="col-lg-6">
     <div class="card mb-5 mb-lg-0">
      <div class="card-body">
        <h5 class="card-title text-muted text-uppercase text-center"><%= @aquabike.title%></h5>
        <h6 class="card-price text-center"><%= @aquabike.price%> <span class="period">/La séance</span></h6>
        <hr>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Personne</li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>1 cours </li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>Occasionnel </li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span>45 minutes</li>
        </ul>
        <!--<a href="#" class="btn btn-block btn-primary text-uppercase">Réserver</a>-->
        <%= link_to 'Faire une réservation', new_reservation_path(aquabike_id: @aquabike.id), class: "btn btn-block btn-primary text-uppercase", id: "btn_car_show"%>

      </div>
     </div>
    </div>

      <div class="col-lg-6">
      <p>
        <h3></h3>
      </p>
      </div>
  </div>
</div>
</section>
