<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <h3>Voici la formule que vous avec choisit</h3>
    </div>
    <div class="row">
    <div class="col-lg-4">
      <h3>Voici la formule que vous avec choisit</h3>
      <div class="card mb-5 mb-lg-0">
        <div class="card-body">

          <h5 class="card-title text-muted text-uppercase text-center"><%= @aquabike.title%></h5>

          <h6 class="card-price text-center"><%= @aquabike.price%> <span class="period">/La séance</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Personne</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>1 cours </li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Occasionnel </li>

            <li><span class="fa-li"><i class="fas fa-check"></i></span>45 minutes</li>

          </ul>
          <a href="#" class="btn btn-block btn-primary text-uppercase">Réserver</a>
        </div>

      </div>
    </div>
  </div>
</div>
</section>
