@import "bootstrap-sprockets";
@import "bootstrap";
@import "simple_calendar";

h1.msg_flash
{
    color: red;
    font-size: 30px;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
}
/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  color: #33414a;
  /*background-color: #f2f2f2;*/
}
nav.navbar.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    padding-right: 15px;
    padding-left: 15px;
}
ul.nav.navbar-nav.navbar-right
{
    margin-top: 20px;
}
li.link_nav
{
  margin-left: 5px;
  margin-bottom: 3px;
}
.btn.btn-info.btn-rounded.btn-lg
{
  color: #fff;

}
.btn.btn-info.btn-rounded.btn-lg:hover
{
    color: #215594;
}
img.imglogo {

  width: 70px;
  margin-top: 14px;
}
@media only screen and (min-width: 1024px) {
  img.imglogo{

    z-index: 2;
    margin-left: 5%;
  }
  img.imglogo {
    margin-top: 5px;
  }
}

/*code house*/


p.mission
{
    font-size: 23px;
    margin-bottom: 40px;
    font-weight: lighter;
}
h3.activite
{
    text-align: center;
    line-height: 29px;
    font-size: 24px;
    color:#51555a;
    font-family: Montserrat,Helvetica,sans-serif;
    font-weight: lighter;
    text-rendering: optimizelegibility;
    line-height: 1.15;
    margin-bottom: 50px;
}
.container.marketing
{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
}
h3.temoin
{
    text-align: center;
    line-height: 29px;
    font-size: 24px;
    color:#51555a;
    font-family: Montserrat,Helvetica,sans-serif;
    font-weight: lighter;
    text-rendering: optimizelegibility;
    line-height: 1.15;
    margin-bottom: 30px;
}
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
.rounded-circle {
    border-radius: 50%!important;
}
@media (min-width: 768px) {
 ul.nav li:hover > ul.dropdown-menu {
   display: block;
 }
 #navbar {
   text-align: right;
 }
}

@media (min-width: 1200px)
{
  section
  {
      background-image: url(/swim.jpg);
      width: 100%;
      background-size: cover;
      background-repeat:no-repeat;
      background-size: 100%;
  }
  h2.description-header
  {
      font-size: 58px;
      color: #fff;
      font-weight: bold;
  }
  img.imglogo
  {
      height: 100px;
      width: 110px;
  }
}
 //Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)
{
  section
  {
    background-image: url(/swim.jpg);
    width: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-size: 100% ;
  }
}
 //Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px)
{
  section
  {
    background-image: url(/swim.jpg);
    width: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-size: 100% ;
  }
}

@media (max-width: 575px)
{
  section
  {
    background-image: url(/swim.jpg);
    width: 100%;
    background-size: cover;
    background-repeat:no-repeat;
      background-size: 100% ;
  }
}

@media (max-width: 475px)
{
  section
  {
    background-image: url(/swim.jpg);
    width: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-size: 100% ;
  }
}

.banner-text {
    max-width: 1200px;
    color: white;
    z-index: 99999999;
}
#banner {
    position: relative;
    text-align: center;
    background-size: cover;
    width: 100%;
    min-height: 85vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    z-index: 199;
}
.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 50;
    background-color: rgba( 16, 15, 15, 0.35);
    z-index: 1;
}

  .clrd-font{
  	background: #FF512F;
  	background: -webkit-linear-gradient(to right, #F09819, #FF512F);
  	background: linear-gradient(to right, #F09819, #FF512F);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  }
  /*.btn-primary {
  	background-color:transparent;
  	color: #fff;
  	border: 2px solid #fff;
  	font-size:20px;
  	text-transform: uppercase;
  	border-radius: 0px;
  }
  .btn-primary:hover {
  	background-color:transparent;
  	border-color: #52C3F5;
  	color: #FFF;
  	border-radius: 20px;
  }*/

  .single_portfolio_text{
  	display:inline-block;
  	padding:0;
  	position:relative;
  	overflow:hidden;
  }
  .single_portfolio_text img{
  	width:100%;
  }

  .single_portfolio_text:hover .portfolio_images_overlay{
  	top:5%;
  	left: 5%;
  }

  .portfolio_images_overlay{
  	width: 90%;
  	height: 90%;
  	background: rgba(0, 0, 0, 0.8);
  	padding: 20px;
  	margin: 0 auto;
  	top: -100%;
  	left: 5%;
  	position: absolute;
  	transition:.6s;

  }
  .portfolio_images_overlay h6{
  	text-transform: uppercase;
  	color: #fff;
  	font-size: 30px;
  	font-weight: 900;
  	border: 2px solid #fff;
  	padding-top: 10px;
  	padding-bottom: 10px;
  }

  .portfolio_images_overlay .product_price{
  	font-size: 35px;
  	color: #fff;
  	font-weight:800;
  	line-height:30px;
  }
  .portfolio_images_overlay .product_price i{
      margin-right: -10px;
  }
  .zoom{
  	width: 200px;
      height: 200px;
      position: absolute;
      bottom: -100px;
      right: -100px;
      border-radius: 50%;

  	background: #FF512F;
  	background: -webkit-linear-gradient(to right, #F09819, #FF512F);
  	background: linear-gradient(to right, #F09819, #FF512F);
      box-shadow:0px 0px 0px 10px rgba(0,0,0,0.5);
  	opacity:0.9;
  }
  .zoom:before {
  	content: "\f00e";
      font-family: FontAwesome;
      color: rgba(255, 255, 255, 0.5);
      font-size: 70px;
      padding-right: 20px;
      position: absolute;
      top: 10px;
      left: 30px;
  }
  @media (min-width:769px) and (max-width:991px) {
  	.portfolio_images_overlay {
  		padding: 0px;
  	}
  }
  @media (max-width:768px) {
  	.portfolio_images_overlay{
  		padding: 170px 20px;
  	}
  }
  @media (max-width:580px) {
  	.portfolio_images_overlay{
  		padding: 100px 20px;
  	}
  }
  @media (max-width:480px) {
  	.portfolio_images_overlay{
  		padding: 40px 20px;
  	}
  }
  @media (max-width:320px) {
  	.portfolio_images_overlay{
  		padding: 20px;
  	}
  }
/*page petit */
div#gallerie.row
{
    margin-top: 90px;
}

/*page section price aquabike */
h2.why

{
    margin-top: 30px;
    margin-bottom: 30px;
}
i.fas.fa-swimming-pool:before {
    content: "\f5c5";
    font-size: 49px;
    color: #52C3F5;
}
i.fab.fa-gratipay
{
    content: "\f5c5";
    font-size: 49px;
    color: red;
}
i.fas.fa-smile-beam
{
  content: "\f5c5";
  font-size: 49px;
  color: #E9B70C;
}
p.text
{
    margin-top: 30px;
}
section.pricing {
  background: #FFF;
  /* fallback for old browsers
  background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari */
}
.card-body
{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    background-color: #fff;
}
section.pricing.py-5
{
    background-color: #f5f6f5;
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0.5rem  ;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 1.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
  background-color:  #52C3F5;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
/* footer*/
li.social_footer
{
    font-size: 40px;
}
/*footer*/

.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}



/*page show aquabike*/
h3.title_show
{
    margin-bottom: 80px;
}
#content_page_show
{

    background-color: #fff;
    padding-bottom: 30px;

}
h3.title_résa
{
    margin-top: 200px;

}
/*page devise admin */
#page_signup
{
    margin-top: 100px;
}
/*page reeservation */
aside
{
  width: 100%;
  height: 800px;
  background-image: url('/saut_enfant.jpg');
  background-repeat: no-repeat;
  background-size: center;
  border: 1px solid red;
  background-size: cover;
}
/*index reservation*/
#content_page_index
{
    margin-top: 240px;

}
#content_page_assos
{
    margin-top: 100px;

}
input#assos.btn.btn-primary.navbar-btn
{
    margin-top: 20px!important;
}
h3.title_résa-index
{
    margin-top: 30px;
}
main.resa
{

    padding-bottom: 180px;
}
/*réservation show */
#zone_show_resa
{
    margin-top: 120px;
    margin-bottom: 200px;
    border-radius: 6px ;
    box-shadow: 0 7px 14px rgba(46,204,113,.1), 0 3px 6px rgba(46,204,113,.08);

    background-color: #fff;
    color: #215594;
}
/* stripe */
#stripe
{
    margin-top: 200px;
    margin-bottom:180px;
}
#banner_charges
{
position: relative;
    /* text-align: center; */
    background-size: cover;
    /* width: 100%; */
    min-height: 85vh;
    /* display: inline-flex; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* padding: 50px; */
    z-index: 199;
}
.example.example1 {
  background-color: #6772e5;
  padding-top:30px;
  padding-bottom: 50px;

}
h3.titlte_pay
{
    margin-bottom: 30px;
    font-size: 23px;
    color: #FFF;
}
.example.example1 * {
  font-family: Roboto, Open Sans, Segoe UI, sans-serif;

  font-weight: 500;
}

.example.example1 fieldset {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.example.example1 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}

/*.example.example1 .row + .row {
  border-top: 1px solid #819efc;
}*/

.example.example1 label {
  width: 15%;
  min-width: 70px;
  padding: 11px 0;
  color: #c4f0ff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.example.example1 input, .example.example1 button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example1 input:-webkit-autofill {
  -webkit-text-fill-color: #fce883;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example1 .StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.example.example1 input {
  width: 100%;
  padding: 11px 15px 11px 0;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.example.example1 input::-webkit-input-placeholder {
  color: #87bbfd;
}

.example.example1 input::-moz-placeholder {
  color: #87bbfd;
}

.example.example1 input:-ms-input-placeholder {
  color: #87bbfd;
}

.example.example1 button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #f6a4eb;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.example.example1 button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
}

.example.example1 .error svg .base {
  fill: #fff;
}

.example.example1 .error svg .glyph {
  fill: #6772e5;
}

.example.example1 .error .message {
  color: #fff;
}

.example.example1 .success .icon .border {
  stroke: #87bbfd;
}

.example.example1 .success .icon .checkmark {
  stroke: #fff;
}

.example.example1 .success .title {
  color: #fff;
}

.example.example1 .success .message {
  color: #9cdbff;
}

.example.example1 .success .reset path {
  fill: #fff;
}

#zone_paiement

{
    background-color: #fff;
    margin-top: 160px;
}
.stripe-button-el

{
    color: red;
}
/* page about */
/* Global */
#backkgroud_carousel.container-fluid
{
    background-color: #f5f6f5;
    padding-bottom: 100px;
}
img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
	}
a:hover
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}
.thumbnails li> .fff .caption {
    /*background:#fff !important;
    padding:10px;*/
}
.thumbnail a > img {
    display: block;
    max-width: 100%;
    max-height: 200px;
    min-height: 120px;
    margin-left: auto;
    margin-right: auto;
}
.caption
{
    padding-left: 15px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: transparent;
    border: 0px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
.page-header h3
{
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails {
    margin-bottom: 0px;
}
/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {
    color: #999;
}
/* Carousel Control */
.control-box {

    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}
i.glyphicon.glyphicon-chevron-left, i.glyphicon.glyphicon-chevron-right
{
      color: #215594 !important;

}
/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    }
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }


#zone_paiement
{
    margin-top: 150px;
    margin-bottom: 250px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid black;
}
h3.text_systeme
{
    margin-bottom:50px;
    font-weight: 400;
}
span
{
    height: 90px;
}

a.by
{
    color: #215594 !important;
}
a.by:hover
{
    color: #FFF !important;
}
i.fab.fa-facebook-f ,i.fab.fa-instagram
{
      color: #215594 !important;
}
#map
{
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border-radius: 2px;
    padding-left: 0px;
    padding-right: 0px;
}
/* page apropos */
h4.description-header
{
    font-size: 23px;
}
.fond
{

}
h3.aquaphobie
{
    text-align: initial;
    margin-bottom: 100px;
    font-size: 23px !important;
}
.row
{
    padding-left: 15px;
    padding-right: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    float: left;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    height: 26px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.margin-top {
  margin-top: 20px;
}
