<main class="resa">
  <div class="container">
  <div class="row" id="content_page_index">
    <div class=" col-lg-offset-3 col-lg-6 col-sm-6 col-sm-offset-3 col-xs-12" id="content_page_show">
    <div class="text-center">
      <h3 class="title_résa-index">Merci pour votre paiement de 20,00 €, <br> <%= link_to, "Retournez à la page d'accueil",  root_path%></h3>

    </div>


    </div>
  </div>
</div>
</main>
