<section id="banner_charges" data-blink-id="pvb1pxmp5cau7rq4c24yp" style="background-size: cover;background-position: center center;background-repeat: no-repeat;background-image: url(/AQUaGYM.jpg);" >
  <div class="container-fluid show">
   <div class="">
    <div class="row">
      <div class=" col-lg-4 col-md-offset-4 col-md-4 col-xs-12" id="zone_paiement">
      <%= form_tag paiements_path do | f | %>
        <div class="row">
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
            <h3 class="text_systeme">La fenêtre de paiement
              sécurisée, s'ouvre en cliquant sur le bouton ci-dessous, <br/>
              pour regler le montant de
            <h3><span> 20,00 €</span></h3>

           <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-label="Payez avec votre carte bleue"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Swimnatation"
                data-amount="2000"
                data-currency ="eur"
                data-locale="auto">
            </script>
      <% end %>
     </div>
   </div>

  </div>
</div>
</div>
</section>
